.stars {
	position: absolute;
	left: 1px;
	direction: rtl;
}


.stars span{
	content: url(../img/star0.png);
}
.stars span:hover{
	content: url(../img/star1.png);
}

.stars span:hover~span{
	content: url(../img/star1.png);
}